.show{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.box{
    width: 750rpx;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    opacity: 0.7;
    transition: all .2s ease-in-out;
    background-color: #000000;
    z-index: 999;
}
.modal{
    position: fixed;
    top: 292rpx;
    left: 45rpx;
    transform: scale(1,1);
    transition: all .2s ease-in-out;
    width: 600rpx;
    height: 530rpx;
    padding: 30rpx 30rpx 40rpx 30rpx;
    border-radius: 8rpx;
    background-color: #ffffff;
    z-index: 1000;
    opacity: 1;
}
.model-hidden{
    transform: scale(0);
     opacity: 0;
}
.modal-title{
    font-family: PingFangSC;
    font-size: 32rpx;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #423839;
    padding-bottom: 46rpx
}
.modal-title image{
    width: 80rpx;
    height: 80rpx;
    float: right;
    position: relative;
    top:-60rpx;
    left: 20rpx
  }
.modal-phone{
    width: 570rpx;
    border-radius: 8rpx;
    border: solid 2rpx #e6e6e6;
    padding: 25rpx 0 25rpx 20rpx;
    font-family: PingFangSC;
    font-size: 30rpx;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b6b6b6;
}
.modal-Code{
    width: 600rpx;
    display: flex;
    margin-top: 20rpx;
}
.code{
    flex: 4;
    border-radius: 8rpx;
    border: solid 2rpx #e6e6e6;
    padding: 25rpx 0 25rpx 20rpx;
    font-family: PingFangSC;
    font-size: 30rpx;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b6b6b6;
    margin-right: 20rpx;
}
.btn{
    flex: 2;
    border-radius: 8rpx;
    border: solid 1rpx #ffc233;
    font-family: PingFangSC;
    font-size: 26rpx;
    color: #ffc233;
    padding-top: 30rpx;
    text-align: center;
    margin-right: 10rpx;
}
.modal-read{
    margin-top: 20rpx;
    font-family: PingFangSC;
    font-size: 22rpx;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}
.modal-read text{
    color: #ffc000;
    text-decoration: underline
}
.modal-btn{
    width: 600rpx;
    height: 80rpx;
    border-radius: 40rpx;
    background-color: #ffc233;
    margin: 88rpx auto 0 auto;
    text-align: center;
    line-height: 80rpx;
    font-family: PingFangSC;
    font-size: 32rpx;
    text-align: center;
    color: #000000;
}